@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  --background: oklch(0.99 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-display: var(--font-plus-jakarta-sans);
  --font-sans: var(--font-bricolage-grotesque);
  --font-mono: var(--font-hack);
}

@theme {
  --animate-slide-in: slide-in 0.5s cubic-bezier(0, 0, 0, 1) backwards;
  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(4rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0rem);
    }
  }
}

@utility animation-delay-* {
  animation-delay: --value(integer)ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.21 0.01 286);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}
